@import "components/normalize";
@import "components/artboard";
body {
  background: #f3f3f3;
  font-family: "Roboto", sans-serif;
}
.header {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  margin-bottom: 50px;
  &__nav {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      a {
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

.item{
  background: #3d3d3d;
  padding: 10px;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
}

@import "components/artboard";
